<!DOCTYPE html>
<html>
<head>
    <title>Добавление региона</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
    <h1>Добавить регион</h1>
    <form method="POST" action="/web/region/add">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.name.label }}
            {{ form.name(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.number.label }}
            {{ form.number(class="form-control") }}
        </div>
        {{ form.submit(class="btn btn-primary") }}
    </form>
    <div>
        <h2>Результат:</h2>
        <p>{{ result }}</p>
    </div>
</body>
</html>